@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/*CSS Reset*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Root Settings*/

:root {
    /*Primary*/
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    /*Neutral*/
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    /*Font Weight*/
    --light: 500;
    --medium: 700;
    --bold: 900;
}

/*Basic Styles*/

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--pale-blue);
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
}

/*Components*/

.card {
    background: #fff;
    max-width: 90%;
    width: 325px;
    border-radius: 1.2rem;
    overflow: hidden;
    box-shadow: 0px 4px 60px -10px rgba(104, 108, 221, 0.4);
    margin: 1.4rem;
    text-align: center;
}

/*Order Summary*/

.card__order-summary {
    padding: 1rem 1.5rem;
}

.card__order-summary-heading {
    color: var(--dark-blue);
    font-size: 1.5rem;
    font-weight: var(--bold);
    margin-top: 0.5rem;
}

.card__order-summary-text {
    color: var(--desaturated-blue);
    font-size: 1rem;
    font-weight: var(--light);
    line-height: 1.6;
    margin-top: 1.2rem;
}

.card__order-summary-plan {
    background-color: var(--very-pale-blue);
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    margin-top: 1.2rem;
}

.card__order-summary-plan-container {
    display: flex;
    align-items: center;
}

.card__order-summary-plan-type {
    margin-left: 1rem;
}

.card__order-summary-plan-type-heading {
    color: var(--dark-blue);
    font-size: .9rem;
    font-weight: var(--bold);
}

.card__order-summary-plan-type-price {
    color: var(--desaturated-blue);
    font-size: .9rem;
    font-weight: var(--light);
}

.card__order-summary-plan-change {
    color: #3526e1;
    font-size: .8125rem;
    font-weight: var(--medium);
}

.card__order-summary-plan-change:hover {
    text-decoration: none;
    opacity: 0.6;
}

.card__order-summary-btn {
    display: block;
    font-weight: var(--medium);
    text-decoration: none;
}

.card__order-summary-payment-btn {
    background: var(--bright-blue);
    color: white;
    border-radius: .7rem;
    box-shadow: 4px 8px 30px -4px hsla(245, 85%, 54%, 0.5);
    padding: 1rem;
    margin-top: 1.5rem;
}

.card__order-summary-payment-btn:hover {
    opacity: 0.6;
}

.card__order-summary-cancel-btn {
    color: hsla(223, 47%, 23%, 0.65);
    margin: 1.5rem auto;
    margin-bottom: 1rem;
}

.card__order-summary-cancel-btn:hover {
    color: var(--dark-blue);
}

/*Responsive Web Design*/

@media screen and (min-width: 31.25rem) {
    body {
        background: url(../images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
        background-color: var(--pale-blue);
    }

    .card {
        width: 380px;
    }

    .card__order-summary {
        padding: 1.5rem 2.5rem;
    }
}